<div class="tarjeta" 
[class.completada]="mision.estado === 'completada'"
[class.animado]="animado">
  <div class="fila-superior">

    <div class="lado-izquierdo">
      <button class="btn-favorito"
              [ngClass]="{ activo: (mision.favorito ?? false) }"
              (click)="toggleFavorito()">
        ❤️
      </button>

      <h3 class="titulo-mision">{{ mision.titulo }}</h3>
    </div>

    <span class="xp-badge">⚡ {{ mision.xp }} XP</span>
  </div>

  <p class="descripcion">{{ mision.descripcion }}</p>

  <div class="acciones">

    <button class="btn-completar-gamer"
            *ngIf="mision.estado === 'pendiente'"
            (click)="marcarComoCompletada()">
      🎯 Completar misión
    </button>

    <button class="btn-revertir-gamer"
          *ngIf="mision.estado === 'completada'"
          (click)="revertirMision()">
    🔄 Revertir
    </button>


    <button class="btn-eliminar-gamer"
            (click)="eliminarMision()">
      🗑️ Eliminar
    </button>

  </div>

  <p *ngIf="mision.estado === 'completada'" class="tag-completada">
    🏆 Misión completada
  </p>

</div>