<h2 class="titulo-misiones">Registro de misiones</h2>

<div class="alerta-error" *ngIf="mostrarError">
  ❌ {{ mensajeError }}
</div>

<p *ngIf="misiones.length === 0" class="sin-misiones">
  No tienes misiones todavía. ¡Añade una nueva y empieza tu aventura!
</p>

<div class="container">
  <app-mission-card
    *ngFor="let m of misiones"
    [mision]="m"
    (completar)="completarMision($event)"
    (eliminar)="eliminarMision($event)"
    (marcarFavorito)="marcarFavorito($event)"
  >
  </app-mission-card>
</div>