.tarjeta {
  transition: 0.3s ease;
}

.tarjeta.completada {
  opacity: 0.6;
  filter: grayscale(0.7);
  border: 1px solid var(--purple);
  text-decoration: line-through;
}

.btn-completar {
  margin-top: 10px;
  padding: 8px 12px;
  background: #12d67c;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s;
}

.btn-completar:hover {
  background: #0bbf6a;
}

.estado-ok {
  color: #12d67c;
  font-weight: bold;
  margin-top: 8px;
}
.titulo-misiones {
  font-size: 2.4rem;
  font-weight: 900;
  color: #00eaff;
  text-shadow: 0 0 5px #00eaff, 0 0 12px #00bcd4, 0 0 20px #0097a7;
  font-family: 'Orbitron', sans-serif; /* Futurista */
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
